@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

div.minimize {
  height: 40px;
}

div.list--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 500px) {
  div.list--active {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

.conversation__bubble--left {
  position: relative;
}

.conversation__bubble--left .conversation__text {
  float: left;
  max-width: 85%;
  color: #e0f3ff;
  background-color: #4867cb;
}

.conversation__bubble--left:before {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 8px;
  height: 8px;
  border-bottom-right-radius: 10px;
  background-color: #32488f;
}

.conversation__bubble--right {
  position: relative;
}

.conversation__bubble--right .conversation__text {
  float: right;
  max-width: 85%;
  color: #332400;
  background-color: #cbad48;
}

.conversation__bubble--right:before {
  content: '';
  position: absolute;
  bottom: -6px;
  right: 0;
  width: 8px;
  height: 8px;
  border-bottom-left-radius: 10px;
  background-color: #8f7a32;
}



.mask {
  width: 300px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-animation: appear 1s ease-in 0s;
          animation: appear 1s ease-in 0s;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: height 400ms cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: height 400ms cubic-bezier(0.65, 0.05, 0.36, 1);
}



.container {
 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 400ms cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 400ms cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 400ms cubic-bezier(0.65, 0.05, 0.36, 1);
}



.list, .conversation {
  width: 300px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f5f7fa;
}



.list__header, .conversation__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  min-height: 40px;
  border-bottom: 1px solid #ced4da;
}

.list__header-actions, .conversation__header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.list__body, .conversation__body {
  height: 100%;
  padding: 0.8rem;
  position: relative;
  overflow-y: auto;
  background-color: #eff2f6;
  font-size: 14px;
}

.list .btn, .conversation .btn {
  width: 40px;
  height: 40px;
}

.list .btn svg, .conversation .btn svg {
  color: #1f4cad;
}

.list .btn:hover, .list .btn:focus, .conversation .btn:hover, .conversation .btn:focus {
  background-color: #1f4cad;
}

.list .btn:hover svg, .list .btn:focus svg, .conversation .btn:hover svg, .conversation .btn:focus svg {
  color: white;
}

.list__header {
  padding: 0 0.8rem;
}

.list__chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f5f7fa;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
}

.list__chat:hover, .list__chat:focus {
  border: 1px solid #1f4cad;
  -webkit-box-shadow: 0 0 3px #4867cb;
          box-shadow: 0 0 3px #4867cb;
}

.list__user {
  margin-bottom: 0.3rem;
}

.list__message {
  display: inline-block;
  color: #484f56;
  width: 215px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.list__sent {
  display: inline-block;
  vertical-align: text-bottom;
}

.list__sent svg {
  width: 1rem;
  height: 1rem;
  stroke: #008500;
}

.list__sent svg:last-child {
  margin-left: -0.7rem;
}

.list__preview {
  width: 100%;
}

.conversation__info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 0.8rem;
  color: #243366;
  border-left: 1px solid #ced4da;
}

.conversation__status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #63de17;
  margin-right: 0.4rem;
}

.conversation__bubble {
  margin-bottom: 0.8rem;
}

.conversation__bubble:before, .conversation__bubble:after {
  content: '';
  display: block;
  clear: both;
}

.conversation__text {
  border-radius: 3px;
  padding: 0.6rem;
  overflow-wrap: break-word;
}

.conversation__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  padding: 0.8rem;
  border-top: 1px solid #ced4da;
}

.conversation__write {
  width: 80%;
  padding: 0.4rem;
  border: 0;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.conversation__write:focus {
  border: 1px solid #4867cb;
  -webkit-box-shadow: 0 0 3px #4867cb;
          box-shadow: 0 0 3px #4867cb;
}

.conversation .btn--send {
  border-radius: 3px;
}

